    * {
        margin: 0;
        padding: 0;
    }

    /* owl carousel */
    .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

    .owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
    /* owl carousel ends */

    /* block 1 */

    .mday-block-1 {
        max-width: calc(329.952vh);
        height: calc(30.3075vw);
    }

    .mday-block-1-container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .mday-block-1-overlay-container {
        position: absolute;
        z-index: 2;
        right: 20px;
        bottom: 20px;
        width: 353px;
        height: 284px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #474933;
        border-radius: 40px 40px 0px 40px;
    }

    .mday-block-1-overlay-header {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .mday-block-1-overlay-subhead {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 23px 0 26px 0;
    }

    .mday-block-1-overlay-cta {
        width: 220px;
        height: 42px;
        background: #FAB767;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mday-block-1-overlay-cta span {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #474933;
    }

    .mday-block-1-video-desktop-container {
        position: absolute;
        z-index: 0;
        width: 102%;
        height: 102%;
        top: -1%;
        left: -1%;
    }

    .mday-block-1-video-deskto {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .mday-block-1-overlay-desktop {
        position: absolute;
        z-index: 1;
        width: 63.75%;
        height: 82.151%;
        left: 2.222%;
        top: 5.0343%;
    }

    .mday-block-1-overlay-mobile {
        position: absolute;
        z-index: 1;
        height: 90.951%;
        width: 89.067%;
        top: 3.016%;
        left: 5.6%;
    }

    .mday-block-1-overlay-desktop img {
        height: 100%;
        width: 100%;
    }

    .mday-block-1-overlay-mobile img {
        height: 100%;
        width: 100%;
    }

    .mday-block-1-mobile {
        display: none;
    }

    @media only screen and (max-width: 769px) {
        .mday-block-1 {
            max-width: calc(100vh);
            height: calc(100vw);
        }
        
        .mday-block-1-desktop {
            display: none;
        }

        .mday-block-1-mobile {
            display: block;
        } 

        .mday-block-1-overlay-container {
            width: 252px;
            height: 193px;
            left: 13px;
            bottom: 9px;
            right: 0;
            border-radius: 40px 40px 40px 0px;
        }

        .mday-block-1-overlay-header {
            font-size: 25px;
            line-height: 34px;
        }

        .mday-block-1-overlay-subhead {
            font-size: 13px;
            line-height: 15px;
            margin: 9px 0 13px 0;
        }

        .mday-block-1-overlay-cta {
            width: 192px;
            height: 42px;   
        }

        .mday-block-1-overlay-cta span{
            font-size: 12px;
            line-height: 14px;
        }


    }

    /* block 2 */

    .mday-block-2-subhead {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
        margin-top: 75px;
        
    }

    .mday-block-2-header {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        color: #000000;
        margin-top: 35px;
        margin-bottom: 50px;
    }

    .mday-block-2-1 {
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .mday-block-2-1-card {
        width: 250px;
        height: 306px;
        position: relative;
        margin: 12px;
    }

    .mday-block-2-1-card-image {
        position: absolute;
        width: 100%;
        height: 234px;
        top: 0;
    }

    .mday-block-2-1-card-image img {
        height: 100%;
        width: 100%;
    }

    .mday-block-2-1-card-cta {
        position: absolute;
        width: 100%;
        height: 58px;
        bottom: 0; 
        background: #474933;
        border-radius: 4px;    
    }

    .mday-block-2-1-card-cta a {
        width: 100%;
        height: 100%;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .mday-block-2-mobile {
        max-width: 375px;
        margin: 0 auto;
    }

    .mday-block-2-1-mobile-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .mday-block-2-1-mobile-card {
        height: 195px;
        width: 163px;
        position: relative;
        margin: 8px;
    }

    .mday-block-2-1-mobile-card-image {
        position: absolute;
        top: 0;
        height: 145px;
        width: 100%;;
    }

    .mday-block-2-1-mobile-card-image img {
        height: 100%;
        width: 100%;
    }

    .mday-block-2-1-mobile-card-cta {
        width: 100%;
        height: 42px;
        position: absolute;
        bottom: 0;
        background: #474933;
        border-radius: 4px;
    }

    .mday-block-2-1-mobile-card-cta a{
        width: 100%;
        height: 100%;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none !important;
    }

    .mday-block-2-1-mobile-2 {
        margin: 8px auto;
        max-width: 342px;
        height: 195px;
        position: relative;
    }

    .mday-block-2-mobile {
        display: none;
    }

    .mday-block-2-subhead-2 {
        margin: 45px auto 100px auto;
        max-width: 1130px;
        padding: 0 35px;
        text-align: center;
    }

    .mday-block-2-subhead-2 span {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        color: #000000;
    }

    @media only screen and (max-width: 769px) {
        
        .mday-block-2-desktop {
            display: none;
        }

        .mday-block-2-mobile {
            display: block;
        }

        .mday-block-2-subhead {
            font-size: 12px;
            line-height: 20px;
            margin-top: 40px;
        }
        
        .mday-block-2-header {
            font-size: 30px;
            line-height: 41px;
        }

        .mday-block-2-subhead-2 {
            max-width: 500px;
            margin: 45px auto 50px auto;
        }
    }

    /* block 3 */

    .mday-block-3 {
        background: #DCBCA6;
        padding-top: 40px;
    }



    .mday-block-3-header {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 58px;
        text-align: center;
        color: #000000;
    }

    .mday-block-3-subhead {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
        margin: 20px 0 60px 0;
    }

    .mday-block-3-grid {
        max-width: 1440px;
        margin: 0 auto;
    }

    .mday-block-3-grid {
        display: grid;
        width: 100%;
    }

    .mday-block-3-grid-item {
        width: 720px;
        height: 720px;
    }

    .mday-block-3-grid-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .mday-block-3-grid-2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .mday-block-3-grid-3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .mday-block-3-grid-4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3
    }

    .mday-block-3-grid-5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .mday-block-3-grid-6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .mday-block-3-grid-box-link {
        height: 100%;
        width: 100%;
        background: #C4C4C4;
        position: relative;
    }

    .mday-block-3-grid-box-link img {
        height: 100%;
        width: 100%;
    }

    .mday-block-3-grid-2-link-a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        cursor: pointer;
    }

    .mday-block-3-grid-box-quote {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mday-block-3-grid-box-quote-container {
        width: 77.77778%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mday-block-3-grid-box-quote-sign {
        font-family: 'Minion Variable Concept';
        font-style: normal;
        font-weight: 400;
        font-size: 128px;
        line-height: 0;
        text-align: center;
        color: #000000;
    }

    .mday-block-3-grid-box-quote-text {
        font-family: 'Crimson Text';
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #000000;
        margin: 40px 0 60px 0;
    }

    .mday-block-3-grid-box-quote-author {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
    }

    .mday-block-3-grid-box-cta {
        min-height: 53px;
        min-width: 53px;
        position: absolute;
        top: 3%;
        left: 3%;
        background: #FFFFFF;
        border-radius: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        z-index: 2;
    }

    .mday-block-3-grid-box-cta-add {
        font-family: 'Minion Pro';
        font-style: normal;
        font-weight: bolder;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000000;
    }

    .mday-block-3-grid-box-cta-text {
        display: none;
    }

    .mday-block-3-grid-box-cta-text a{
        font-family: 'Arial';
        font-style: normal;
        font-weight: bolder;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.2em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #000000;
    }

    .mday-block-3-grid-box-cta:hover {
        padding: 0 23px;
    }

    .mday-block-3-grid-box-cta:hover .mday-block-3-grid-box-cta-add {
        display: none;
    }

    .mday-block-3-grid-box-cta:hover .mday-block-3-grid-box-cta-text{
        display: block;
    }

    @media only screen and (max-width: 1441px) {
        .mday-block-3-grid-item {
            width: 50vw;
            height: 50vw;
        }

    }

    @media only screen and (max-width: 1250px) {
        .mday-block-3-grid-box-quote-text {
            font-size: 25px;
            line-height: 35px;
            margin: 10px 0 30px 0;
        }

        .mday-block-3-grid-box-quote-sign {
            font-size: 108px;
        }

        .mday-block-3-grid-box-quote-author {
            font-size: 11px;
            line-height: 5px;
        }
    }


    @media only screen and (max-width: 950px) {
        .mday-block-3-grid-box-quote-text {
            font-size: 20px;
            line-height: 20px;
            margin: 10px 0 30px 0;
        }

        .mday-block-3-grid-box-quote-sign {
            font-size: 68px;
        }

        .mday-block-3-grid-box-quote-author {
            font-size: 10px;
            line-height: 5px;
        }
    }

    @media only screen and (max-width: 768px) {
        .mday-block-3-grid {
            max-width: 325px;
        }

        .mday-block-3-grid-item {
            width: 100%;
            height: auto;
        }

        .mday-block-3-grid-1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        
        .mday-block-3-grid-2 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        .mday-block-3-grid-3 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        
        .mday-block-3-grid-4 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        
        .mday-block-3-grid-5 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 6;
            grid-row-end: 7;
        }
        
        .mday-block-3-grid-6 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
        }

        .mday-block-3-grid-box-quote {
            height: 378px;
        }

        .mday-block-3-grid-box-link {
            height: 325px;
        }

        .mday-block-3-grid-box-quote-container {
            width: 100%;
        }

        .mday-block-3-grid-box-quote-text {
            font-size: 22px;
            line-height: 27px;
            margin: 10px 0 30px 0;
        }

        .mday-block-3-grid-box-quote-author {
            font-size: 12px;
            line-height: 14px;
        }

        .mday-block-3-grid-box-quote-sign {
            font-size: 88px;
        }
    }

    /* block 4 */

    .mday-block-4-container {
        margin: 50px auto 70px auto;
        height: 441px;
        width: 1253px;
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q2/04-01+Mothers+Day+Ideas/block+4-1.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .mday-block-4-inside-container {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 87.71%;
        height: 63.94%;
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q2/04-01+Mothers+Day+Ideas/block+4-2.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .mday-block-4-body {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        color: #000000;
        width: 254px;
        margin: 0 0 15px 60px;
    }

    .mday-block-4-cta {
        width: 254px;
        height: 42px;
        background: #3A3B31;
        border-radius: 4px; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        margin: 15px 0 0 60px;
    }

    .mday-block-4-cta a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mday-block-4-cta span {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    @media only screen and (max-width: 1294px) {
        .mday-block-4-container {
            margin: 50px 20px 70px 20px;
            width: calc(100vw - 40px);
            height: calc((100vw - 40px) * 0.35195);
        }
    }

    @media only screen and (max-width: 1025px) {
        .mday-block-4-body {
            margin: 0 0 10px 45px;
        }

        .mday-block-4-cta {
            margin: 10px 0 0 45px;
        }
    }

    @media only screen and (max-width: 900px) {
        .mday-block-4-body {
            margin: 0 0 5px 30px;
        }

        .mday-block-4-body {
            font-size: 18px;
            line-height: 24px;
            width: 235px;
        }

        .mday-block-4-cta {
            margin: 5px 0 0 30px;
        }
    }


    @media only screen and (max-width: 700px) {
        .mday-block-4-container {
            max-width: 360px;
            height: 132px;
            margin: 25px auto 114px auto;
        }

        .mday-block-4-inside-container {
            width: 254px;
            height: 155px;
            top: 57px;
            left: 23px;
            background-image: none;
        }

        .mday-block-4-body {
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            margin: 0 0 0 0;
            width: 254px;
            height: 106px;
        }

        .mday-block-4-cta {
            background: #000000;
            margin: 0 !important;
        }

        .mday-block-4-mobile-bg {
            width: 100vw;
            height: calc(100vw * 0.494444);
            background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q2/04-01+Mothers+Day+Ideas/block+4-3.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    @media only screen and (max-width: 400px) {
        .mday-block-4-inside-container {
            left: 10px;
        }
    }

    @media only screen and (max-width: 350px) {
        .mday-block-4-inside-container {
            left: 10px;
        }
    }

    /* block 5 */

    .mday-block-5-container {
        margin-top: 80px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1253px;
        background: #F4E2D0;
        border-radius: 25px;
        padding: 60px 0;
    }

    .mday-block-5-header {
        font-family: 'Minion Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        text-align: center;
        color: #000000;
    }

    .mday-block-5-header span{
        font-style: italic;
        font-weight: 400;
    }

    .mday-block-5-subhead {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
        margin: 30px 0 50px 0;
    }

    .mday-block-5-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: 0 auto;
    }

    .mday-block-5-card {
        height: 407px;
        width: 342px; 
        margin: 16px 19px;
        position: relative;
    }

    .mday-block-5-card-header {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .mday-block-5-card-header span{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }

    .mday-block-5-card-image {
        width: 100%;
        height: 234px;
        position: absolute;
        top: 88px;
    }

    .mday-block-5-card-image img {
        width: 100%;
        height: 100%;
    }

    .mday-block-5-card-cta {
        position: absolute;
        bottom: 0;
        background: #EAA757;
        border-radius: 4px;
        width: 100%;
        height: 58px;
    }

    .mday-block-5-card-cta a {
        text-decoration: none !important;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mday-block-5-card-cta a span {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    @media only screen and (max-width: 1254px) {
        .mday-block-5-container {
            border-radius: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        .mday-block-5-header {
            width: 246px;
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
            line-height: 35px;
        }

        .mday-block-5-subhead {
            font-size: 14px;
            line-height: 20px;
            width: 292px;
            margin-left: auto;
            margin-right: auto;
        }

        .mday-block-5-container {
            margin-top: 114px;
            margin-bottom: 40px;
        }
    }

    /* block 6 */
    .mday-block-6-container {
        width: 100%;
        height: 782px;
        background: #474933;
        position: relative;
    }

    .mday-block-6-header {
        position: absolute;
        top: 73px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .mday-block-6-header span {
        font-family: 'Minion Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
    }

    .mday-block-6-header span span{
        font-style: italic;
        font-weight: 100;
    }

    .mday-block-6-subhead {
        position: absolute;
        top: 141px;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
    }

    .mday-block-6-subhead span {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .mday-block-6-carousel-container {
        width: 100%;
        top: 217px;
        position: absolute;
    }

    .mday-block-6-carousel {
        max-width: 1578px;
        margin-left: auto;
        margin-right: auto;
    }

    .mday-block-6-carousel-card-container {
        width: 304px;
        height: 476px;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
    }

    .mday-block-6-carousel-image {
        width: 100%;
        height: 316px;
        border-radius: 25px 25px 0px 0px;
    }

    .mday-block-6-carousel-image img{
        width: 100%;
        height: 100%;
        border-radius: 25px 25px 0px 0px;
    }

    .mday-block-6-carousel-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        top: 332px;
        left: 22px;
        width: 260px;
        position: absolute; 
    }

    .mday-block-6-carousel-cta {
        width: 260px;
        height: 58px;
        background: #474933;
        border-radius: 4px;
        position: absolute;
        bottom: 31px;
        left: 22px;
    }

    .mday-block-6-carousel-cta a {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .owl-theme .owl-nav [class*=owl-] {
        background: rgb(214, 214, 214);
        display: inline-block;
        cursor: pointer;
        border-radius: 34px;
        color: rgb(255, 255, 255) !important;
        font-size: 45px !important;
        margin: 0px 10px !important;
        padding: 0px 22px 11px !important;
    }

    .owl-dots {
        display: none;
    }

    .owl-theme .owl-nav {
        margin-top: 14px;
    }

    @media only screen and (max-width: 1480px) {
        .mday-block-6-carousel {
            margin-left: 40px;
        }
    }

    @media only screen and (max-width: 701px) {
        .mday-block-6-carousel {
            margin-left: 0;
        } 
    }

    @media only screen and (max-width: 675px) {
        .mday-block-6-header {
            top: 57px;
        }

        .mday-block-6-header span{
            font-size: 30px;
            line-height: 37px;
            width: 350px;
        }

        .mday-block-6-subhead{
            top: 155px;
        }

        .mday-block-6-subhead span {
            width: 272px;
            font-size: 12px;
            line-height: 20px;
        }
    }

    /* block 7 */

    .mday-block-7-mobile {
        display: none;
    }

    .mday-block-7-desktop {
        position: relative;
        width: 100%;
        height: 95.83333vw;
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q2/04-01+Mothers+Day+Ideas/block-7-1.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mday-block-7-text-contianer-pos {
        position: absolute;
        left: calc(50% - 342px);
        top: 30.725%;
    }

    .mday-block-7-text-container {
        width: 684px;
        height: 684px;
        position: relative;
        background: #EAA757;
        border-radius: 684px;
    }

    .mday-block-7-text-subhead {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 22.81%
    }

    .mday-block-7-text-subhead span {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #474933;
    }

    .mday-block-7-text-header {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 30.41%
    }

    .mday-block-7-text-header span {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        line-height: 75px;
        text-align: center;
        color: #474933;
    }

    .mday-block-7-text-body {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 53.80%
    }

    .mday-block-7-text-body span {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        color: #474933;
        width: 490px;
    }

    .mday-block-7-mobile {
        height: 282.933vw;
        width: 100%;
        position: relative;
    }

    .mday-block-7-mobile-image {
        width: 100%;
        height: 83.6%;
        bottom: 0;
        position: absolute;
        z-index: 0;
        background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q2/04-01+Mothers+Day+Ideas/block-7-2.jpg);
        background-size: contain;
    }

    .mday-block-7-mobile-circle {
        height: calc(100vw * 0.917333);
        width: calc(100vw * 0.917333);
        background: #EAA757;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        left:calc(100vw * 0.0413335);
        top: 3.77%;
    }

    .mday-block-7-mobile-circle-container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .mday-block-7-mobile-subhead {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 18.8953%;
    }

    .mday-block-7-mobile-header {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 31.3953%;
    }

    .mday-block-7-mobile-body {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute; 
        top: 39.114%;
        z-index: 1;
    }

    .mday-block-7-mobile-body span {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #474933;
        width: 342px;
    }

    .mday-block-7-mobile-subhead span {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #474933;
    }

    .mday-block-7-mobile-header span {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        color: #474933;
    }

    @media only screen and (max-width: 1100px) {
        .mday-block-7-text-container {
            width: calc(684px * 0.8);
            height: calc(684px * 0.8);
        }

        .mday-block-7-text-subhead span {
            font-size: calc(15px * 0.8);
        }

        .mday-block-7-text-header span {
            font-size: calc(65px * 0.8);
            line-height: calc(75px * 0.8);
        }

        .mday-block-7-text-body span {
            font-size: calc(22px * 0.8);
            line-height: calc(35px * 0.8);
            width: calc(490px * 0.8);
        }

        .mday-block-7-text-contianer-pos {
            left: calc(50% - 273.6px);
        }
    }

    @media only screen and (max-width: 900px) {
        .mday-block-7-text-container {
            width: calc(684px * 0.6);
            height: calc(684px * 0.6);
        }

        .mday-block-7-text-subhead span {
            font-size: calc(15px * 0.6);
        }

        .mday-block-7-text-header span {
            font-size: calc(65px * 0.6);
            line-height: calc(75px * 0.6);
        }

        .mday-block-7-text-body span {
            font-size: calc(22px * 0.6);
            line-height: calc(35px * 0.6);
            width: calc(490px * 0.6);
        }

        .mday-block-7-text-contianer-pos {
            left: calc(50% - 205.2px);
        }
    }

    @media only screen and (max-width: 600px) {
        .mday-block-7-desktop {
            display: none;
        }

        .mday-block-7-mobile {
            display: block;
        }
    }